<div class="app-content">
  <div class="docubodyTitle">
    <ul id="breadcrumb">
      <li>
        <a ng-click="userDetails()">
          <span class="icon icon-beaker"> </span> Profile Details</a
        >
      </li>
    </ul>
  </div>

  <div class="docuContent solid-profile-cards">
    <div class="row">
      <!-- <div class="col-lg-3 col-xs-12">
                <div class="docu-profile-card">
                    <div class="docu-profile-card-header">
                        <h3>
                            <i class="fa fa-user"></i> Profile Picture</h3>
                    </div>
                    <div class="docu-profile-card-body">
                        <div class="docu-profile-card-picture">
                            <img ng-if="sessionObject.profilePicture" ng-src="{{sessionObject.profilePicture || 'images/default-user.png'}}" alt="Admin Image">
                            <img ng-if="!sessionObject.profilePicture" src="image/avatarimg.jpg" alt="Admin Image">
                        </div>
                        <div class="docu-profile-card-details">
                            <h4 class="text-center">{{sessionObject.firstName}}&nbsp;{{sessionObject.lastName}}</h4>
                            <span class="text-center">{{sessionObject.role}}</span>
                            <ul class="profile-details">
                                <li>
                                    <p>First Name</p>
                                    <span>{{sessionObject.firstName}}</span>
                                </li>
                                <li>
                                    <p>Last Name</p>
                                    <span>{{sessionObject.lastName}}</span>
                                </li>
                                <li>
                                    <p>User Name</p>
                                    <span>{{sessionObject.userName}}</span>
                                </li>
                                <li>
                                    <p>Email</p>
                                    <span>
                                        <a href="javascript:void(0);">{{sessionObject.mail}}</a>
                                    </span>
                                </li>
                                <li>
                                    <p>Role</p>
                                    <span>{{sessionObject.role}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
      <div class="col-lg-12 col-xs-12">
        <div class="profiletabs">
          <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a
                  ng-click="editProfile()"
                  aria-controls="editProfile"
                  role="tab"
                  data-toggle="tab"
                  >Edit Profile</a
                >
              </li>
              <li role="presentation">
                <a
                  ng-click="resetPassword()"
                  aria-controls="resetPassword"
                  role="tab"
                  data-toggle="tab"
                  >Reset Password</a
                >
              </li>
            </ul>
            <div class="tab-content tabs">
              <div
                role="tabpanel"
                ng-show="editShow"
                class="tab-pane fade in active"
                id="profileedit"
              >
                <div class="profileedit">
                  <div class="col-lg-3">
                    <div class="profilechange">
                      <img
                        ng-show=" thumbnail.dataUrl == 'undefined'"
                        src="image/avatarimg.jpg"
                      />
                      <img
                        ng-show=" thumbnail.dataUrl != 'undefined'"
                        ng-src="{{ thumbnail.dataUrl }}"
                      />
                      <input
                        type="file"
                        class="mobt"
                        ng-if="!sessionObject.profilePictures"
                        onchange="
                          angular.element(this).scope().uploadFiledp(this.files)
                        "
                        name="file"
                        file-input="files"
                        ng-model="sessionObject.profilePictures"
                        alt="Admin Image"
                      />
                      <span
                        style="color: red"
                        id="sizeOffile"
                        class="ptag1"
                      ></span>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="profile-edit-box">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label
                            >First Name:<span style="color: red">*</span></label
                          >
                          <input
                            type="text"
                            ng-model="sessionObject.firstName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label
                            >Last Name:<span style="color: red">*</span></label
                          >
                          <input
                            type="text"
                            ng-model="sessionObject.lastName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label
                            >User Name:<span style="color: red">*</span></label
                          >
                          <input
                            type="text"
                            readonly
                            ng-model="sessionObject.userName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>Email:<span style="color: red">*</span></label>
                          <input
                            type="text"
                            readonly
                            ng-model="sessionObject.mail"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>Role:<span style="color: red">*</span></label>
                          <input
                            type="text"
                            readonly
                            ng-model="sessionObject.role"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footerbtn">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <!-- <button type="button" class="btngeo clearbtn" ng-click="editCancel()">Back</button> -->
                        <button
                          type="button"
                          class="btngeo submitbtn clr448aff"
                          ng-click="updateProfileSubmit(sessionObject)"
                        >
                          UPDATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                role="tabpanel"
                ng-show="resetShow"
                class="tab-pane fade in active"
                id="profilereset"
              >
                <div class="userProfileEdit resetoldnew">
                  <form name="pswdForm">
                    <div class="form-group flex">
                      <div class="col-lg-3">
                        <label
                          >Old Password:<span style="color: red">*</span></label
                        >
                      </div>
                      <div class="col-lg-9">
                        <input
                          type="password"
                          ng-model="profileData.currentPassword"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group flex">
                      <div class="col-lg-3">
                        <label
                          >New Password:<span style="color: red">*</span></label
                        >
                      </div>
                      <div class="col-lg-9">
                        <input
                          type="password"
                          ng-model="profileData.password"
                          name="password"
                          ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/"
                          required
                        />
                        <span
                          ng-show="pswdForm.password.$error.pattern && pswdForm.password.$touched"
                          style="color: red"
                          >Must contain one lower &amp; uppercase letter, and
                          non-alpha character (a number and a symbol.), and 8
                          and 20 characters.
                        </span>
                      </div>
                    </div>
                    <div class="form-group flex">
                      <div class="col-lg-3">
                        <label
                          >Confirm Password:<span style="color: red"
                            >*</span
                          ></label
                        >
                      </div>
                      <div class="col-lg-9">
                        <input
                          type="password"
                          ng-model="profileData.confirmPassword"
                          required
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="footerbtn">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <!-- <button type="button" class="btngeo clearbtn" ng-click="editCancel()">Back</button> -->
                      <button
                        type="button"
                        ng-disabled="pswdForm.$invalid"
                        class="btngeo pull-right submitbtn clr448aff"
                        ng-click="resetPasswordSubmit(profileData)"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>
</div>
<!-- <div class="docuContent">

            <div class="user-profile-pic mtop40">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-section">
                            <div class="user-icon profileuser">
                                <img ng-if="sessionObject.profilePicture" ng-src="{{sessionObject.profilePicture || 'images/default-user.png'}}" alt="Admin Image">
                                <img ng-if="!sessionObject.profilePicture" src="image/avatarimg.jpg" alt="Admin Image">
                            </div>
                            <div class="user-icon-content">
                                <div class="user-form">
                                    <label>First Name :</label>
                                    <p>{{sessionObject.firstName}}</p>

                                </div>
                                <div class="user-form">
                                    <label>Last Name :</label>
                                    <p>{{sessionObject.lastName}}</p>

                                </div>
                                <div class="user-form">
                                    <label>User Name :</label>
                                    <p>{{sessionObject.userName}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="editbtnprofile">
                            <button type="button" class="btn-send" ng-click="editProfile()">Edit Profile</button>
                            <button type="button" class="btn-send" ng-click="resetPassword()">Reset Password</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="user-profile-info">
                            <div class="user-info">
                                <div class="user-form">
                                    <label>Email:</label>
                                    <p>
                                        <a href="javascript:void(0);">{{sessionObject.mail}}</a>
                                    </p>
                                </div>
                                <div class="user-form">
                                    <label>Role:</label>
                                    <p>{{sessionObject.role}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

<!-- <div class="app-content" ng-show="editShow">
    <div class="docubodyTitle">
        <ul id="breadcrumb">
            <li>
                <a ng-click="userDetails()">
                    <span class="icon icon-beaker"> </span> Profile Details</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon icon-beaker"> </span> Edit</a>
            </li>
        </ul>
    </div>

    <div class="docuContent">
        <div class="user-profile-pic mtop40">
            <div class="userProfileEdit">
                <div class="form">
                    <div class="col-lg-3 imageprofile">
                        <div class="">
                            <div class="profileeditimage profileuser">
                                <img ng-show=" thumbnail.dataUrl == 'undefined'" src="image/avatarimg.jpg">
                                <img ng-show=" thumbnail.dataUrl != 'undefined'" ng-src="{{ thumbnail.dataUrl }}">
                                <input type="file" class="mobt" ng-if="!sessionObject.profilePictures" onchange="angular.element(this).scope().uploadFiledp(this.files)"
                                    name="file" file-input="files" ng-model="sessionObject.profilePictures" alt="Admin Image"
                                />
                                <span style="color:red;" id='sizeOffile' class="ptag1"></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 imagecontentbox">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>First Name:</label>
                                <input type="text" ng-model="sessionObject.firstName" required/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" ng-model="sessionObject.lastName" required/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>User Name:</label>
                                <input type="text" readonly ng-model="sessionObject.userName" required/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" ng-model="sessionObject.mail" required/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Role:</label>
                                <input type="text" readonly ng-model="sessionObject.role" required/>
                            </div>
                        </div>
                    </div>

                    <div class="footerbtn">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btngeo clearbtn" ng-click="editCancel()">Back</button>
                                <button type="button" class="btngeo submitbtn clr448aff" ng-click="updateProfileSubmit(sessionObject)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preloader" ng-show="loader">
        <div id="cssload-loader">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>
    </div>
</div> -->

<!-- <div class="app-content" ng-show="resetShow">
            <div class="docubodyTitle">
                <ul id="breadcrumb">
                    <li>
                        <a  ng-click="userDetails()" >
                            <span class="icon icon-beaker"> </span> Profile Details</a>
                            <li>
                                    <a href="javascript:void(0);">
                                        <span class="icon icon-beaker"> </span> Reset Password</a>
                                </li>
                    </li>
                </ul>
            </div>
            <div class="docuContent">
        <div class="user-profile-pic mtop40">
            <div class="userProfileEdit resetoldnew">
                <div class="form">
                    <form name="pswdForm">

                        <div class="col-lg-12">
                            <div class="form-group flex">
                                <label>Old Password:</label>
                                <input type="password" ng-model="profileData.currentPassword" required/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group flex">
                                <label>New Password:</label>
                                <input type="password" ng-model="profileData.password" name="password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/"
                                    required/>

                            </div>
                            <span ng-show="pswdForm.password.$error.pattern && pswdForm.password.$touched" style="color:red">Must contain one lower &amp; uppercase letter, and non-alpha character (a number and a symbol.),
                                    and 8 and 20 characters. </span>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group flex">
                                <label>Confirm Password:</label>
                                <input type="password" ng-model="profileData.confirmPassword" required/>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btngeo clearbtn" ng-click="editCancel()">Back</button>
                                <button type="button" ng-disabled="pswdForm.$invalid" class="btngeo submitbtn clr448aff" ng-click="resetPasswordSubmit(profileData)">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="preloader" ng-show="loader">
        <div id="cssload-loader">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>
    </div>
    </div> -->
