<div
  class="app-content"
  ng-app="dapp"
  ng-controller="UserDocumentApprovalController"
  ng-init="getDcoumentApprovelList()"
>
  <div class="docubodyTitle">
    <ul id="breadcrumb">
      <li>
        <a href="javascript:void(0);">
          <span class="icon icon-beaker"> </span> Document Approval</a
        >
      </li>
    </ul>
  </div>
  <div class="docuchainContent">
    <div class="row">
      <div class="col-lg-12">
        <div class="docuuserdoculist">
          <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a
                  ui-sref="dapp.userDoumentApproval"
                  aria-controls="home"
                  role="tab"
                  data-toggle="tab"
                  >Expiry Based Document</a
                >
              </li>
              <li role="presentation">
                <a
                  href="javascript:void(0);"
                  aria-controls="profile"
                  role="tab"
                  data-toggle="tab"
                  >Voyage Specific Document</a
                >
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content docuApproval tabs">
              <div
                role="tabpanel"
                class="tab-pane fade in active"
                id="Section1"
              >
                <div class="vessellistable">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="datatableEntry">
                        <label
                          >Show <input type="text" ng-model="itemsPerPage" />of
                          <span>{{documentListLen}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="filtersearchoption">
                        <div class="filterbox">
                          <label>Filter by Status</label>
                          <div class="filterselect">
                            <select ng-model="selectStatus">
                              <option value="">All</option>
                              <option value="Pending">Pending</option>
                              <option value="Approved">Approved</option>
                              <option value="Rejected">Rejected</option>
                            </select>
                          </div>
                        </div>
                        <div class="docuchainSearchbox docuapprovalSearch">
                          <div class="searchInput bgwhiteinput">
                            <input
                              type="text"
                              placeholder="Search"
                              ng-model="searchApproveDoc"
                            />
                            <button type="button" class="searchIcon">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-xs-12">
                      <div class="taskMangeTable table-responsive">
                        <table>
                          <thead>
                            <tr>
                              <th
                                ng-click="orderByField='documentHolderName'; reverseSort = !reverseSort"
                              >
                                Certificate Name
                                <i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th
                                ng-click="orderByField='shipName'; reverseSort = !reverseSort"
                              >
                                Vessel Name<i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th
                                ng-click="orderByField='certificateNumber'; reverseSort = !reverseSort"
                              >
                                Certificate No
                                <i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th
                                ng-click="orderByField='placeOfIssue'; reverseSort = !reverseSort"
                              >
                                Place of Issue
                                <i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th
                                ng-click="orderByField='issueDate'; reverseSort = !reverseSort"
                              >
                                Date of Issue<i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th
                                ng-click="orderByField='expiryDate'; reverseSort = !reverseSort"
                              >
                                Date of Expiry
                                <i
                                  class="fa fa-sort float-right"
                                  aria-hidden="true"
                                ></i>
                              </th>
                              <th class="text-center docuactions">Actions</th>
                              <th class="text-center">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              dir-paginate="documnet in documentList|filter:searchApproveDoc |filter:selectStatus|itemsPerPage:itemsPerPage | orderBy:'documentHolderName' | orderBy:orderByField:reverseSort"
                              current-page="currentPage"
                            >
                              <td>{{documnet.documentHolderName}}</td>
                              <td>{{documnet.shipName}}</td>
                              <td>{{documnet.certificateNumber}}</td>
                              <td>{{documnet.placeOfIssue}}</td>
                              <td>
                                {{documnet.issueDate | date:'dd-MM-yyyy'}}
                              </td>
                              <td>
                                {{documnet.expiryDate | date:'dd-MM-yyyy'}}
                              </td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  tooltips
                                  tooltip-template="View document"
                                  ng-click="viewDocumentInformation(documnet)"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <a
                                  class="btned editBtn"
                                  tooltips
                                  tooltip-template="Download document"
                                  href="{{documnet.documentDownloadUrl}}"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </a>
                              </td>
                              <td
                                class="text-center"
                                ng-show='documnet.documentStatus==="Pending"'
                              >
                                <button
                                  type="button"
                                  class="btn pendingbtn"
                                  tooltips
                                  tooltip-template="Click to approve/reject document"
                                  ng-click="approveAndRejectPopup(documnet)"
                                >
                                  Pending
                                </button>
                              </td>
                              <td
                                class="text-center"
                                ng-show='documnet.documentStatus==="Approved"'
                              >
                                <button
                                  type="button"
                                  class="btn approvebtn"
                                  data-toggle="modal"
                                  data-target="#approve"
                                  data-backdrop="static"
                                >
                                  {{documnet.documentStatus}}
                                </button>
                              </td>
                              <td
                                class="text-center"
                                ng-show="documnet.documentStatus==='Rejected'"
                              >
                                <button
                                  type="button"
                                  class="btn rejectbtn"
                                  data-toggle="modal"
                                  data-target="#reject"
                                  data-backdrop="static"
                                >
                                  {{documnet.documentStatus}}
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div
                          class="not-found-div"
                          ng-show="(documentList|filter:searchApproveDoc).length==0"
                        >
                          No records found
                        </div>
                      </div>
                      <div class="vesselstablebottom">
                        <dir-pagination-controls
                          max-size="5"
                          direction-links="true"
                          boundary-links="true"
                        ></dir-pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div class="vessellistable">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="datatableEntry">
                        <label
                          >Show <input type="text" placeholder="6" />of
                          <span>60</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="filtersearchoption">
                        <div class="filterbox">
                          <label>Filter by Status</label>
                          <div class="filterselect">
                            <select>
                              <option selected="">All</option>
                              <option value="Popeda">Pending</option>
                              <option value="Popeda">Approved</option>
                              <option value="Popeda">Rejected</option>
                            </select>
                          </div>
                        </div>
                        <div class="docuchainSearchbox docuapprovalSearch">
                          <div class="searchInput bgwhiteinput">
                            <input type="text" placeholder="Search" />
                            <button type="button" class="searchIcon">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-xs-12">
                      <div class="taskMangeTable">
                        <table>
                          <thead>
                            <tr>
                              <th>Certificate</th>
                              <th>Vessel Name</th>
                              <th>Certificate No</th>
                              <th>Place of Issue</th>
                              <th>Date of Issue</th>
                              <th>Date of Expiry</th>
                              <th class="text-center addwidth80">Status</th>
                              <th class="text-center">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn approvebtn"
                                  data-toggle="modal"
                                  data-target="#approve"
                                  data-backdrop="static"
                                >
                                  Approve
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn rejectbtn"
                                  data-toggle="modal"
                                  data-target="#reject"
                                  data-backdrop="static"
                                >
                                  Reject
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn pendingbtn"
                                  data-toggle="modal"
                                  data-target="#approve"
                                  data-backdrop="static"
                                >
                                  Pending
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn approvebtn"
                                  data-toggle="modal"
                                  data-target="#approve"
                                  data-backdrop="static"
                                >
                                  Approve
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn rejectbtn"
                                  data-toggle="modal"
                                  data-target="#reject"
                                  data-backdrop="static"
                                >
                                  Reject
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>Certificate of Ship Registry</td>
                              <td>Popeda</td>
                              <td>ABC283792</td>
                              <td>Singapore</td>
                              <td>05-Jan-2018</td>
                              <td>05-Jan-2018</td>

                              <td class="text-center addwidth150">
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#viewtasks"
                                  data-backdrop="static"
                                >
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btned editBtn"
                                  data-toggle="modal"
                                  data-target="#updatetask"
                                  data-backdrop="static"
                                >
                                  <i
                                    class="fa fa-download"
                                    aria-hidden="true"
                                  ></i>
                                </button>
                              </td>

                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn pendingbtn"
                                  data-toggle="modal"
                                  data-target="#approve"
                                  data-backdrop="static"
                                >
                                  Pending
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="vesselstablebottom">
                        <ul class="pagination pull-right">
                          <li class="disabled">
                            <a href="#"> Previous </a>
                          </li>
                          <li class="active">
                            <a href="javascript:void(0);">1</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">2</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">3</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">4</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);"> Next </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Approve Document Pdf -->
  <div class="librariy-pdfview">
    <div class="modal fade" id="approveDocument" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Document Information - {{approveDocumentInfo.documentHolderName}}
            </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="pdf-viewer">
                  <h1>PDF View</h1>
                  <div class="pdffile">
                    <div class="pdficondiv">
                      <embed ng-src="{{viewDocumentUrl}}" width="500" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12 pdfborder">
                <div class="pdf-viewerform">
                  <div class="library-content">
                    <form>
                      <div class="form-group">
                        <label> Certificate No </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.certificateNumber"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Place of Issue </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.placeOfIssue"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Date of Issue </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.issueDate"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Date of expiry </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.expiryDate"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Last Annual </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.lastAnnual"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Next annual </label>
                        <input
                          type="text"
                          ng-model="approveDocumentInfo.nextAnnual"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Remarks </label>
                        <textarea
                          ng-model="approveDocumentInfo.remarks"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="pdfviewbtn">
              <button
                type="button"
                class="btnn rejectbtn"
                ng-click="rejectExpiryDocument()"
              >
                Reject
              </button>
              <button
                type="button"
                class="btnn approvebtn"
                ng-click="approvedExpiryDocument()"
              >
                Approve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- View Document Pdf -->
  <div class="librariy-pdfview">
    <div class="modal fade" id="viewDocument" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Document Information -
              {{viewDocumentObjectInfo.documentHolderName}}
            </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-8 col-sm-6 col-xs-12">
                <div class="pdf-viewer">
                  <h1>PDF View</h1>
                  <div class="pdffile">
                    <div class="pdficondiv">
                      <embed
                        ng-src="{{viewDocumentUrl}}"
                        width="500"
                        height="500"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12 pdfborder">
                <div class="pdf-viewerform">
                  <div class="library-content">
                    <form>
                      <div class="form-group">
                        <label> Certificate No </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.certificateNumber"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Place of Issue </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.placeOfIssue"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Date of Issue </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.issueDate"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Date of expiry </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.expiryDate"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Last Annual </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.lastAnnual"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Next annual </label>
                        <input
                          type="text"
                          ng-model="viewDocumentObjectInfo.nextAnnual"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label> Remarks </label>
                        <textarea
                          ng-model="viewDocumentObjectInfo.remarks"
                          readonly
                        ></textarea>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="pdfviewbtn">
                            <button type="button" class="btnn rejectbtn">Reject</button>
                            <button type="button" class="btnn approvebtn">Approve</button>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>
</div>

<!-- Delete Popup -->
<div class="geoLocationPopup">
  <div class="modal fade" id="geoLocation" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Geo Location</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Latitude</label>
              <input type="text" placeholder="13.0637824" />
            </div>
            <div class="form-group">
              <label>Longitude</label>
              <input type="text" placeholder="80.2627584" />
            </div>
          </form>
        </div>
        <div class="modal-footer1">
          <button type="button" class="btngeo clearbtn">CLEAR</button>
          <button
            type="button"
            class="btngeo submitbtn clr448aff"
            data-dismiss="modal"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
